# Ignore everything by default
*

# Allow C source files
!*.c

# Allow CMakeLists.txt
!CMakeLists.txt

# Allow directories (otherwise, files in them won't be included)
!*/

# Ignore common build and SDK-related files
build/
*.o
*.elf
*.bin
*.uf2
*.hex
*.map
*.pdb
*.exe
*.a
*.d

# Ignore CMake build artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Ignore Pico SDK and submodules
pico-sdk/
